@page
@model Transportation.Web.Pages.Admin.Contracts.IndexModel
@{
    ViewData["Title"] = "حواله ها";
}

<div class="row">
                        <div class="col">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center" style="color: rgb(133, 135, 150);">
                                    <h6 class="text-primary fw-bold m-0">لیست حواله های الکترونیک ثبت شده</h6>
                                    <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                                        <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                            <p class="text-center dropdown-header">اعمال کار</p><a class="dropdown-item" href="#">&nbsp;خروجی اکسل</a>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered table-hover dataTable no-footer">
                                <thead>
                                    <tr>
                                        <th>شماره حواله</th>
                                        <th>تاریخ ثبت</th>
                                        <th>صافی (ریال)</th>
                                        <th>نوع بار</th>
                                        <th>حواله دریافتی (ریال)</th>
                                        <th>محول</th>
                                        <th>مبدا</th>
                                        <th>مقصد</th>
                                        <th>دستورات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var contract in Model.Contracts)
                                {
                                                <tr>
                                                   <input type="hidden" value="@contract.DeleteDate" id="valueElement" />
                                                   <td>@contract.ContractId</td>
                                                   <td>@contract.SignDate.PersianDateTime()</td>
                                                       <td>@contract.DriverFee.ToString("#,0")</td>
                                                   <td>@contract.CargoType</td>
                                                   <td>@contract.RecievedRemittance.ToString("#,0")</td>
                                                   <td>@contract.UserName</td>
                                                   <td>@contract.Beginning</td>
                                                   <td>@contract.Destination</td>
                                                   <td>
                                                           <div class="col-xl-1">
                                                              <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="background: rgb(145,36,12);"><i class="far fa-sun"></i></button>
                                                                <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#" style="text-align: center;background: rgb(71,13,0);border-top-left-radius: 42px;height: 11.3906px;border-top-right-radius: 42px;">&nbsp;</a>
                                                        <a class="dropdown-item button-24" href="#" style="text-align: center;font-family: 'B Nazanin';background: rgb(210,13,0);color: rgb(255,255,255);font-weight: bold;">ابطال حواله</a>
                                                            <a class="dropdown-item button-24" href="#" style="font-weight: bold;text-align: center;font-family: 'B Nazanin';background: rgb(234,90,29);">چاپ حواله</a>
                                                        <a class="dropdown-item button-24" id="showTime" href="#" style="font-weight: bold;text-align: center;font-family: 'B Nazanin';background: rgb(0,0,0);">cd.timer</a>
                                                        <a class="dropdown-item" href="#" style="text-align: center;background: rgb(71,13,0);height: 10.3906px;border-bottom-right-radius: 42px;border-bottom-left-radius: 42px;"><br></a>
                                                         </div>
                                                         </div>
                                                       </div>
                                                   </td>
                                                </tr>
                                }
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

@section Scripts{
    <script>
        var time = $('#valueElement').val();
                 // Set the date we're counting down to
                var countDownDate = new Date(time).getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

          // Get today's date and time
          var now = new Date().getTime();

          // Find the distance between now and the count down date
          var distance = countDownDate - now;

          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

          // Display the result in the element with id="demo"
              document.getElementById("showTime").innerHTML = hours + ":"
              + minutes + ":" + seconds;

          // If the count down is finished, write some text
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("showTime").innerHTML = "EXPIRED";
          }
        }, 1000);
    </script>

}