@model Driver

<div class="col-md-12">
    <div class="row">
        <img class="img-thumbnail" style="max-width:100px" src="~/UserContent/Drivers/IdentificationCards/@Model.IdentificationCard" />
        <img class="img-thumbnail" style="max-width:100px" src="~/UserContent/Drivers/FacePictures/@Model.FacePicture" />
    </div>
    <div>
        <input type="hidden" asp-for="UserId" />
        <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
                <tr>
                    <th>اطلاعات خواسته شده</th>
                    <th>اطلاعات کاربر</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>نام کاربری</td>
                    <td>@Model.User.UserName</td>
                </tr>
                <tr>
                    <td>ایمیل</td>
                    <td>@Model.User.Email</td>
                </tr>
                <tr>
                    <td>کد هوشمند راننده</td>
                    <td>@Model.SmartDriverCode</td>
                </tr>
                <tr>
                    <td>کد ناوگان کامیون</td>
                    <td>@Model.TruckFleetCode</td>
                </tr>
            </tbody>
        </table>
    </div>
            <a class="btn btn-danger" asp-page-handler="DeclineUser" asp-route-id="@Model.UserId">
                Decline
            </a>
            <a class="btn btn-success" asp-page-handler="AcceptUser" asp-route-id="@Model.UserId">
                Accept
            </a>
</div>